<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starnet.snview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name="com.starnet.snview.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        
        <activity
            android:name="com.starnet.snview.global.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.starnet.snview.realplay.RealplayActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.starnet.snview.images.ImagesManagerActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.starnet.snview.playback.PlaybackActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.starnet.snview.devicemanager.DeviceViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.starnet.snview.channelmanager.ChannelListActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.starnet.snview.channelmanager.ChannelListViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.starnet.snview.syssetting.SystemSettingActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.starnet.snview.syssetting.AboutActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.starnet.snview.syssetting.CloudAccountViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.starnet.snview.syssetting.CloudAccountSettingActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />

        <activity android:name="com.starnet.snview.devicemanager.DevicesAddActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"/>
        <activity android:name="com.starnet.snview.devicemanager.DeviceCollectActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"/>
        <activity android:name="com.starnet.snview.devicemanager.DeviceChooseActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"/>
    </application>

    
    
    
    
</manifest>
