<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video.hdview"
    android:versionCode="73"
    android:versionName="6.2.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- 关闭整个应用程序权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测网络连接的权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 系统声音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 拍照权限 -->
    <!-- android推送服务权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 系统震动调用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 开机启动权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.video.hdview.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <!-- com.video.hdview.playback.PlaybackTestActivity -->
        <activity
            android:name="com.video.hdview.global.SplashActivity" 
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.video.hdview.global.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.SystemNewFuncActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.realplay.RealplayActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/SampleTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.video.hdview.images.ImagesManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.playback.PlaybackActivity"
            android:launchMode="singleTop"
			android:configChanges="orientation|screenSize"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.alarmmanager.AlarmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.alarmmanager.AlarmImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" /> <!-- @android:style/Theme.Dialog -->
        <activity
            android:name="com.video.hdview.alarmmanager.AlarmContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" /> <!-- android:theme="@android:style/Theme.Dialog" -->
        <activity
            android:name="com.video.hdview.devicemanager.DeviceViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.channelmanager.ChannelListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.channelmanager.ChannelListViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/channel_listview_titlebarstyle" />
        <activity
            android:name="com.video.hdview.syssetting.SystemSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        
        <activity
            android:name="com.video.hdview.syssetting.CloudAccountInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.CloudAccountViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.CloudAccountAddingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.devicemanager.DeviceCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.devicemanager.DeviceChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.CloudAccountUpdatingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.devicemanager.DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.devicemanager.DeviceInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.devicemanager.DeviceEditableActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" /> <!--  -->

        <activity
            android:name="com.video.hdview.images.ImagePreviewViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.images.ImageManagerVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.video.hdview.syssetting.AlarmPushManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.syssetting.AlarmAccountsPreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.syssetting.AlarmAccountsAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.syssetting.AlarmAccountsAddingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.syssetting.AlarmAccountsEditingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.playback.TimeSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SampleTheme" />
        <activity
            android:name="com.video.hdview.playback.PlayBackChannelListViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/channel_listview_titlebarstyle" />

        <receiver android:name="com.video.hdview.alarmmanager.OnAlarmMessageArrivedReceiver" >
            <intent-filter>
                <action android:name="com.video.hdview.action.ALARM_MESSAGE_ARRIVED" />
            </intent-filter>
        </receiver>

        <!-- android推送服务权限 -->
        <meta-data
            android:name="api_key"
            android:value="EIAswaeFPPggZZ95AruWxj6Y" />
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.video.hdview.alarmmanager.AlarmReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push结束 -->

        <service android:name="com.video.hdview.syssetting.AlarmPushSettingService" > <!-- android:process="remote" -->
            <intent-filter>
                <action android:name="syssetting.AlarmPushSettingService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="api_key"
            android:value="EIAswaeFPPggZZ95AruWxj6Y" />
    </application>

</manifest>
