<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starnet.snview"
    android:versionCode="15"
    android:versionName="1.7.7" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- 关闭整个应用程序权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测网络连接的权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 系统声音权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 拍照权限 -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.starnet.snview.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.starnet.snview.global.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.starnet.snview.realplay.RealplayActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar" /> <!-- android:configChanges="orientation|screenSize" -->
        <activity
            android:name="com.starnet.snview.images.ImagesManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.playback.PlaybackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.channelmanager.ChannelListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.channelmanager.ChannelListViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.starnet.snview.syssetting.SystemSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.syssetting.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.syssetting.CloudAccountViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.syssetting.CloudAccountAddingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DevicesAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" /> <!-- android:launchMode="standard" -->
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.syssetting.CloudAccountUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.devicemanager.DeviceEditableActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" /> <!--  -->

        <activity
            android:name="com.starnet.snview.channelmanager.ChannelListActivity_Copy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.images.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.images.ImagePreviewViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.images.ImageManagerVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.starnet.snview.images.ImageManagerVideoPlay_second_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
    </application>

</manifest>
